.logo {
  text-align: center;
}

.logo:hover {
  color: skyblue;
  text-decoration-color: pink;
}

#column {
  float: right;
}

.column {
  float: left;
}

#images {
  float: left;
}

#img {
  float: right;
}

.logo {
  background-image: url("../images/backgrounds/landing.jpg");
  margin-bottom: auto;
  background-size: cover;
  background-size: auto;
}

.breakfast {
  text-align: center;
  font-size: 28px;
  background-image: url("../images/foodtop/breakfast.jpg");
  background-repeat: no-repeat;
  padding: 20px;
  width: 250px;
  height: 250px;
}

.breakfast:hover {
  color: skyblue;
  text-decoration-color: pink;
  text-align: center;
  font-size: 28px;
}

.lunch {
  text-align: center;
  font-size: 28px;
  background-image: url("../images/foodtop/lunch.jpg");
  background-repeat: no-repeat;
  padding: 20px;
  width: 250px;
  height: 250px;
}

.lunch:hover {
  color: skyblue;
  text-decoration-color: pink;
  text-align: center;
  font-size: 28px;
}

.dinner {
  text-align: center;
  font-size: 28px;
  background-image: url("../images/foodtop/dinner.jpg");
  background-repeat: no-repeat;
  padding: 20px;
  width: 250px;
  height: 250px;
}

.dinner:hover {
  color: skyblue;
  text-decoration-color: pink;
  text-align: center;
  font-size: 28px;
}

.panel {
  background-image: url("../images/backgrounds/foodsBg.jpg");
  background-repeat: no-repeat;
  height: 500px;
  width: auto;
}

#customers:hover {
  position: relative;
  width: inherit;
}

.footer {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #ffffff;
}

.python {
  background-image: url("../images/backgrounds/subscribe.jpg");
  background-size: auto;
  padding-top: 100px;
  padding-bottom: 100px;
  background-repeat: no-repeat;
}

.item2 {
  background-color: grey;
  font-size: 28px;
  padding: 20px;
}

.item1 {
  background-color: orange;
  font-size: 28px;
  padding: 20px;
}

.daily form input {
  type="submit"
}

  {
  background: #F25A29;
  color: #fff;
  padding: 0.5em 3em;
  font-size: 20px;
  font-family: 'aleolight';
  display: block;
  outline: none;
  border: none;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -msborder-radius: 3px;
  text-transform: uppercase;
  cursor: pointer;
}

.daily form input {
  type="submit"
}

.text-filed-email {
  text-align: right;
}

.panel-body {
  padding: 33px;
  margin: 169px;
  background-color: white;
}

.nav-tabs {
  border-bottom: 0px;
}

.nav {
  padding-left: 169px;
  margin-bottom: -168px;
}

#contact us {
  padding: 0px;
  margin: 9px;
  padding-left: 80px;
  padding-right: 63px;
  margin-left: 334px;
  ss margin-right: -339px;
}
